MAIN.pdf
.stack-work
MAIN.aux
MAIN.bbl
MAIN.blg
MAIN.fdb_latexmk
MAIN.fls
MAIN.log
MAIN.synctex.gz
MAIN.synctex.gz(busy)
MAIN.toc
*.out
ccs2csp-in-Haskell.pdf
*.bak
src/AbsCCS.hi
src/DocCCS.txt
src/ErrM.hs
src/LexCCS.hi
src/LexCCS.x
src/Makefile
src/ParCCS.hi
src/ParCCS.y
src/ParCCS.info
src/PrintCCS.hi
src/PrintCCS.hs
src/SkelCCS.hi
src/SkelCCS.hs
src/TestCCS
src/TestCCS.hi
src/TestCCS.hs
test/*.csp
